.root {
  display: flex;
  flex-wrap: wrap;
  gap: 33px 30px;
  justify-content: space-between;

  margin: 70px;
  @include pNormal;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media (width <= 1024px) {
  .root {
    gap: 33px 20px;
    margin: 60px;
  }
}

@media (width <= 720px) {
  .root {
    flex-direction: column;
    gap: 30px;
    margin: 20px 20px 40px 21px;
  }

  .buttons {
    gap: 10px;
  }
}
