
.field {
  @include field
}


  .textarea {
    overflow: hidden;
    width: 100%;
    min-height: 152px;
    resize: vertical;
  }
  
@media (max-width: 720px) {

  .textarea {
    min-height: 132px;
    }
 
}
