.root {
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 200ms ease;
  @include pNormal;
}

.root[type="submit"] {
  padding: 15px 70.5px;
  color: #ffffff;
  background-color: var(--green-400);

  &:hover {
    background-color: var(--green-300);
  }

  &:active {
    background-color: var(--green-200);
  }
}

.root[type="reset"] {
  padding: 15px 73px;
  color: var(--green-400);
  background-color: var(--green-100);

  &:hover {
    background-color: var(--gray-100);
  }

  &:active {
    background-color: var(--gray-200);
  }
}

@media (width <= 720px) {
  .root {
    line-height: 17px;
  }

  .root[type="submit"] {
    padding: 15px 29.7px;
  }

  .root[type="reset"] {
    padding: 15px 31.3px;
  }
}
