.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  width: 418px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;

  width: 100%;
  margin-top: 100px;
}

@media (width <= 720px) {
  .subtitle {
    width: 319px;
  }

  .cards {
    gap: 20px;
    margin-top: 50px;
  }
}
