.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 529px;
  text-align: center;
}

.subtitle {
  width: 418px;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: space-between;

  margin-top: 100px;
}

@media (width <= 1024px) {
  .list {
    gap: 18px;
  }
}

@media (width <= 720px) {
  .list {
    flex-direction: column;
    gap: 19px;
    margin-top: 51px;
  }

  .title {
    width: 318px;
    text-align: center;
  }

  .subtitle {
    width: 318px;
  }
}
