.footer {
  height: 88px;
  background-color: var(--beige-200);
}

.container {
  height: 100%;
  margin-top: 135px;
  padding-top: 0;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1168px;
  height: 100%;
}

.paragraph {
  color: var(--gray-300);

  @include pNormal;
}

.list {
  display: flex;
  gap: 25px;

  @include pNormal;
}

.link {
  color: var(--black);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border-bottom 200ms ease;

  &:hover {
    border-bottom: 1px solid var(--black);
  }
}

@media (width <= 1024px) {
  .list {
    gap: 26px;
  }
}

@media (width <= 720px) {
  .inner {
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    text-align: center;
  }
}

@media (width <= 360px) {
  .footer {
    height: 95px;
  }

  .img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }

  .list {
    gap: 15px;
  }
}
