.card {
  @include card;

  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 531px;
  width: 370px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;

  @for $i from 1 through 6 {
    &_#{$i} {
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url(/assets/images/cards/card_tour_photo-#{$i}.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  &Bottom {
    width: fit-content;
  }

  &Inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
  }

  &Title {
    color: var(--white);
    @include h3;
  }

  &Cost {
    margin-top: 16px;
    color: var(--white);
    @include pSmall;
  }
  &Detail{
    @include pBig;
  }
  &DetailLink {
    color: var(--white);
  }
}