.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50% - 15px);

    &_full {
      width: 100%;
    }
}

@media (max-width: 1024px) {
    .item {
        width: calc(50% - 10px);
        &_full {
            width: 100%;
        }
    }
}

@media (max-width: 720px) {
    .item {
        width: 100%;
    }
}