.root {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
}

.wrapper {
  padding-top: 28.88px;
  padding-bottom: 28.88px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  @include pNormal;
}

.nav {
  &List {
    display: flex;
    gap: 0 50px;
  }

  &Link {
    color: var(--white);
    border-bottom: 1px solid transparent;
    transition: border-color 200ms ease;
  }

  &Link:hover {
    border-color: var(--white);
  }
}

.phone {
  color: var(--white);
}

.wrapperScroll {
  background-color: #f3efe899;
  backdrop-filter: blur(54px);
}

.wrapperScroll .navLink,
.wrapperScroll .phone {
  color: var(--black);

  &:hover {
    border-bottom: 1px solid var(--black);
  }
}

.wrapperScroll .logo {
  filter: brightness(0) saturate(100%) invert(7%) sepia(33%) saturate(882%)
    hue-rotate(188deg) brightness(91%) contrast(88%);
}

@media (width <= 1024px) {
  .container {
    padding: 0 24px;
  }

  .navList {
    gap: 0 30px;
  }
}

@media (width <= 850px) {
  .nav {
    display: none;
  }
}

@media (width <= 720px) {
  .wrapper {
    padding: 32.5px 0;
  }

  .container {
    padding: 0 20px;
  }

  .logo {
    width: 134px;
    height: 23px;
  }

  .navList {
    gap: 0 30px;
  }
}
