
.header {
  width: 100%;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 28.88px;
  padding-bottom: 28.88px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include pNormal;
}

.nav {
  &List {
    display: flex;
    gap: 0px 50px;
  }

  &Link {
    border-bottom: 1px solid transparent;
    transition: border-color 200ms ease;
    color: var(--white);
  }

  &Link:hover {
    border-color: var(--white);
  }
}

.phone {
  color: var(--white);
}

.wrapperScroll {
  background-color: #F3EFE899;
  backdrop-filter: blur(54px);
}

.wrapperScroll .navLink, .wrapperScroll .phone {
  color: var(--black);

  &:hover {
    border-bottom: 1px solid var(--black);
  }
}

.wrapperScroll .logo {
  filter: brightness(0) saturate(100%) invert(7%) sepia(33%) saturate(882%) hue-rotate(188deg) brightness(91%) contrast(88%);
}

@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }

  .navList {
    gap: 0 30px;
  }
}

@media (max-width: 850px) {
  .nav {
    display: none;
  }
}

@media (max-width: 720px) {
  .wrapper {
    padding: 32.5px 0;
  }

  .container {
    padding: 0px 20px;
  }

  .logo {
    width: 134px;
    height: 23px;
  }

  .navList {
    gap: 0 30px;
  }
}
