.root {
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 1;
  border-radius: 50px;
}

.large {
  flex-basis: calc(442px * 100% / $containerMaxWidthDesktop);
}

.small {
  flex-basis: calc(348px * 100% / $containerMaxWidthDesktop);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fill {
  width: 100%;
  height: 100%;
}

@media (width <= 1024px) {
  .tablet {
    display: none;
  }

  .large {
    flex-basis: calc(315px * 100% / $containerMaxWidthTablet);
  }

  .small {
    flex-basis: calc(231px * 100% / $containerMaxWidthTablet);
  }
}

@media (width <= 720px) {
  .root {
    border-radius: 20px;
  }

  .mobile {
    display: none;
  }

  .large {
    flex-basis: calc(150px * 100% / $containerMaxWidthMobileL);
  }

  .small {
    flex-basis: calc(99px * 100% / $containerMaxWidthMobileL);
  }
}

@media (width <= 520px) {
  .root {
    border-radius: 20px;
  }

  .large {
    flex-basis: calc(150px * 100% / $containerMaxWidthMobileM);
  }

  .small {
    flex-basis: calc(99px * 100% / $containerMaxWidthMobileM);
  }
}
