.icon {
  width: 26px;
  height: 26px;
  object-fit: none;
  object-position: center;
}

.link::before {
  content: "";
  position: absolute;
  inset: 0;
}

@media (width <= 360px) {
  .root {
    gap: 5px;
  }

  .icon {
    width: 21px;
    height: 21px;
  }
}
