.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30.5px;
  justify-content: center;

  margin-top: 35px;

  @include pBig;
}

.item {
  padding-bottom: 4px;
  color: var(--black);
  border-bottom: 2px solid transparent;
  transition:
    border-color 200ms ease,
    color 200ms ease;

  &:hover {
    cursor: pointer;
    border-color: var(--black);
  }
}

.itemActive {
  color: var(--orange-200);
  border-bottom: 2px solid var(--orange-200);

  &:hover {
    border-bottom: 2px solid var(--orange-200);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  margin-top: 101px;
}

@media (width <= 1024px) {
  .cards {
    gap: 18px;
  }
}

@media (width <= 720px) {
  .item {
    height: 22px;
    padding-bottom: 0;
  }

  .list {
    gap: 11px 10px;
    max-width: 325px;
    margin-top: 30px;
    padding-bottom: 3px;
  }

  .cards {
    margin-top: 46px;
  }
}
