.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 30.5px;
  margin-top: 35px;
  @include pBig
}
  
.item {
  padding-bottom: 4px;
  color: var(--black);
  border-bottom: 2px solid transparent;
  transition: border-color 200ms ease, color 200ms ease;

  &:hover {
    border-color: var(--black);
    cursor: pointer;
  }
}
  
.itemActive {
  color: var(--orange-200);
  border-bottom: 2px solid var(--orange-200);

  &:hover {
    border-bottom: 2px solid var(--orange-200);
  }
}
  
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 101px;
}
  

  
@media (max-width: 1024px) {
  .cards {
    gap: 18px;
  }

  .card {
    width: 450px;
    width: calc(100% / 2 - 9px);
  }
}
  
@media (max-width: 720px) {
  .item {
    height: 22px;
    padding-bottom: 0px;
  }

  .list {
    gap: 11px 10px;
    max-width: 325px;
    margin-top: 30px;
    padding-bottom: 3px;
  }

  .cards {
    margin-top: 46px;
  }

  .card {
    height: 318px;
    border-radius: 20px;
  }

  .cardInner {
    padding: 26px 25px 23px 25px;
  }

  .cardLink:hover {
    background-color: inherit;
  }

  .cardLink {
    gap: 18px;
    margin-left: -20px;
    margin-bottom: -5px;
  }

  .cardDetail {
    margin: (-7px) -19px;
    padding: 7px 19px;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
  