.root {
  display: flex;
  gap: 31px;
}

.item {
  position: relative;
  display: flex;
  gap: 11px;
  align-items: center;
}

@media (width <= 720px) {
  .root {
    gap: 30px;
  }

  .item {
    gap: 10px;
    align-items: center;
  }
}
