.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: calc($containerMaxWidthDesktop + 60px);

  text-align: center;
}

.subtitle {
  width: 418px;
}

@media (width <= 1024px) {
  .container {
    max-width: calc($containerMaxWidthTablet + 40px);
  }
}

@media (width <= 720px) {
  .subtitle {
    width: 100%;
  }
}

@media (width <= 520px) {
  .subtitle {
    width: 100%;
  }
}
