$containerMaxWidth: 1860px;
$list-height: 963px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: calc($containerMaxWidth + 60px);

  text-align: center;
}

.subtitle {
  width: 418px;
}

@media (width <= 1024px) {
  $containerMaxWidth: 984px;

  .container {
    max-width: calc($containerMaxWidth + 40px);
  }
}

@media (width <= 720px) {
  .subtitle {
    width: 100%;
  }
}

@media (width <= 520px) {
  .subtitle {
    width: 100%;
  }
}
