.root {
  height: 100svh;
  background:
    linear-gradient(180deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 0%) 39.9%),
    linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
    url("/assets/images/header/header-main.jpg") center/cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin-top: unset;
  padding-top: 208px;
  padding-bottom: 119px;

  text-align: center;
}

.title {
  max-width: 768px;
  color: var(--white);
  @include h1;
}

.subtitle {
  max-width: 562px;
  color: var(--white);
  @include pNormal;
}

.button {
  padding: 5px 20px;

  color: var(--black);

  background-color: var(--white);
  border-radius: 10px;

  transition:
    color 200ms ease,
    background-color 300ms ease;
  @include pSmall;

  &:hover {
    color: var(--white);
    background-color: var(--orange-200);
  }

  &:active {
    color: var(--black);
    background-color: var(--orange-100);
  }
}

@media (width <= 1024px) {
  .subtitle {
    max-width: 442px;
  }
}

@media (width <= 720px) {
  .root {
    background: linear-gradient(
        180deg,
        rgb(0 0 0 / 40%) 0%,
        rgb(0 0 0 / 0%) 39.9%
      ),
      linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
      url("/assets/images/header/header-main_mobile.jpg");
    background-position: center;
    background-size: cover;
  }

  .subtitle {
    max-width: 310px;
  }

  .container {
    gap: 40px 0;
    padding-top: 140px;
    padding-bottom: 52px;
  }
}
