
.root {
  display: flex;
  flex-direction: column;
  gap: calc(30px * 100% / $galleryHeightDesktop);

  width: 100%;
  height: $galleryHeightDesktop;
  margin-top: 100px;
}

@media (width <= 1024px) {
  .root {
    gap: calc(30px * 100% / $galleryHeightTablet);
  }
}

@media (width <= 720px) {
  .root {
    gap: calc(18px * 100% / $galleryHeightMobileL);
    height: $galleryHeightMobileL;
    margin-top: 50px;
  }
}

@media (width <= 520px) {
  .root {
    gap: calc(18px * 100% / $galleryHeightMobileM);
    height: $galleryHeightMobileM;
    margin-top: 49px;
  }
}
