$containerMaxWidth: 1860px;
$list-height: 963px;

.root {
  display: flex;
  flex-direction: column;
  gap: calc(30px * 100% / $list-height);

  width: 100%;
  height: $list-height;
  margin-top: 100px;
}

@media (width <= 1024px) {
  $list-height: 963px;

  .root {
    gap: calc(30px * 100% / $list-height);
  }
}

@media (width <= 720px) {
  $list-height: 500px;
  $gap-list: calc(18px * 100% / $list-height);

  .root {
    gap: $gap-list;
    height: $list-height;
    margin-top: 50px;
  }
}

@media (width <= 520px) {
  $list-height: 366px;

  .list {
    gap: calc(18px * 100% / $list-height);
    height: $list-height;
    margin-top: 49px;
  }
}
