.root {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px;

  background-color: var(--beige-200);
  border-radius: 50px;
}

.text {
  overflow-y: auto;
  max-height: 448px;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.paragraph {
  @include pBig;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}

.footerImageWrapper{
  position: relative;
  width: 75px;
  height: 75px;
}

.footerImg {
  border-radius: 100px;
}

.footerText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  @include h3;
}

.tourName {
  color: var(--gray-300);
  @include pSmall;
}

@media (width <= 1024px) {
  .text {
    max-height: 616px;
  }
}

@media (width <= 720px) {
  .root {
    padding: 19px 21px 20px 20px;
    border-radius: 20px;
  }

  .text {
    max-height: 437px;
    padding-right: 1px;
    padding-left: 1px;
  }

  .footer {
    gap: 9px;
    align-items: flex-end;
    padding-top: 40px;
    padding-left: 1px;
  }

  .paragraph {
    line-height: 23px;
  }
}
