.root {
  display: flex;
  gap: calc(30px * 100% / $containerMaxWidthDesktop);
  justify-content: center;
  height: 301px;
}

@media (width <= 1024px) {
  .root {
    gap: calc(20px * 100% / $containerMaxWidthTablet);
  }
}

@media (width <= 720px) {
  $gap-list: calc(18px * 100% / $galleryHeightMobileL);

  .root {
    gap: $gap-list;
    height: calc($galleryHeightMobileL / 3 - $gap-list);
  }

  .smallGap {
    gap: calc(10px * 100% / $containerMaxWidthMobileL);
  }
}

@media (width <= 520px) {
  .root {
    gap: calc(18px * 100% / $containerMaxWidthMobileM);
    height: 110px;
  }

  .smallGap {
    gap: calc(10px * 100% / $containerMaxWidthMobileM);
  }
}
