
@mixin card {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    pointer-events: none;
  
    @media (max-width: 360px) {
      border-radius: 20px;
    }
  
    &Zoom {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 300ms ease;
    }
  
    &:hover &Zoom {
      transform: scale(1.2);
    }
  
    &Link {
      display: contents;
      width: 0px;
      height: 0px;
      color: var(--white);
      pointer-events: auto;
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 50px;
      }
    }
  
    &:hover &Detail {
      background: var(--green-400);
    }
  
    &Detail {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 7px 20px;
      margin: (-7px) -20px;
      border-radius: 50px;
      cursor: pointer;
      transition: background 300ms ease;
      pointer-events: auto;
  
      @media (max-width: 1024px) {
        gap: 16px;
      }
    }
  
    &DetailArrow {
      width: 22px;
      height: 27px;
      object-fit: contain;
      object-position: center;
    }
  
    &:hover &Detail:active {
      background: var(--orange-200);
    }
}


@mixin field {
    gap: 10px;
    padding: 20.5px 20px 20.5px 19px;
    color: var(--black);
    background-color: var(--beige-100);
    border: 1px solid var(--beige-200);
    border-radius: 10px;
    color-scheme: var(--gray-300);
    outline: 0px;
    cursor: pointer;
    transition: background-color 200ms ease, border-color 200ms ease;

    &:hover {
      background-color: var(--beige-200);
    }

    &:focus {
      border-color: var(--gray-300);
    }

    &::placeholder {
      color: var(--gray-300);
    }

  @media (max-width: 720px) {
    .field {
      padding: 11px 9px;
    }
  }
}
