@mixin card {
  .card {
    pointer-events: none;
    position: relative;
    overflow: hidden;
    border-radius: 50px;

    @media (width <= 360px) {
      border-radius: 20px;
    }

    &Zoom {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transition: transform 300ms ease;
    }

    &:hover &Zoom {
      transform: scale(1.2);
    }

    &Link {
      pointer-events: auto;

      display: contents;

      width: 0;
      height: 0;

      color: var(--white);

      &::before {
        content: "";

        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: 50px;
      }
    }

    &:hover &Detail {
      background: var(--green-400);
    }

    &Detail {
      pointer-events: auto;
      cursor: pointer;

      position: relative;
      z-index: 2;

      display: flex;
      gap: 15px;
      align-items: center;

      margin: (-7px) -20px;
      padding: 7px 20px;

      border-radius: 50px;

      transition: background 300ms ease;

      @media (width <= 1024px) {
        gap: 16px;
      }
    }

    &DetailArrow {
      width: 22px;
      height: 27px;
      object-fit: contain;
      object-position: center;
    }

    &:hover &Detail:active {
      background: var(--orange-200);
    }
  }
}

@mixin field {
  cursor: pointer;

  gap: 10px;

  padding: 20.5px 20px 20.5px 19px;

  color: var(--black);

  color-scheme: var(--gray-300);
  background-color: var(--beige-100);
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  outline: 0;

  transition:
    background-color 200ms ease,
    border-color 200ms ease;

  &:hover {
    background-color: var(--beige-200);
  }

  &:focus {
    border-color: var(--gray-300);
  }

  &::placeholder {
    color: var(--gray-300);
  }

  @media (width <= 720px) {
    .field {
      padding: 11px 9px;
    }
  }
}

