$containerMaxWidthDesktop: 1860px;
$containerMaxWidthTablet: 984px;
$containerMaxWidthMobileL: 500px;
$containerMaxWidthMobileM: 318px;
$galleryHeightDesktop: 963px;
$galleryHeightTablet: 963px;
$galleryHeightMobileL: 500px;
$galleryHeightMobileM: 366px;
